name: code-style

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install black
        run: |
          python -m pip install -U pip
          python -m pip install black
      - name: black --check
        run: python -m black --check miru tests setup.py
  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install isort
        run: |
          python -m pip install -U pip
          python -m pip install isort
      - name: isort --check-only
        run: python -m isort --check-only miru tests setup.py
