name: linting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pyflakes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install pyflakes
        run: |
          python -m pip install -U pip
          python -m pip install pyflakes
      - name: pyflakes
        run: python -m pyflakes miru
